<div class="row">
	<div class="col-sm-6 col md-offset-3">
		<h1>Profile</h1>

		<%  user = current_user %>


		<div class="row" style="color:white; padding: 20px; font-size:20px;">
			<div class="col-sm-6">
				<b>Name</b>
			</div>
			<div class="col-sm-6">
				<%= user.name %>
			</div>
		</div>
		<div class="row"  style="color:white; padding: 20px; font-size:20px;" >
			<div class="col-sm-6">Email</div>
			<div class="col-sm-6"><%= user.email %></div>
		</div>
		<div class="row"  style="color:white; padding: 20px; font-size:20px;" >

			<div class="col-sm-6">Picture</div>
				<% if user.image.attached? %>
					<div class="col-sm-6">	<%= image_tag user.image  ,width: "300px"  if user.image.attached? %></div>
				<% else %>
				<div class="col-sm-6" >
						<%= image_tag "no_user.png", width: "300px"  %>
				</div>
				<% end %>
		</div>

	</div>
</div>
