<div class="row">
	<div class="col-sm-6 col md-offset-3">
		<h1>Profile</h1>
		<table class="table">
			<tr>
				<th>Name : </th>
				<td>Vaibhav Buccha</td>
			</tr>
			<tr>
				<th>Email : </th>
				<td>vaibhav.buccha@ifuturz.com</td>
			</tr>
		</table></td>
	</div>
</div>