@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "font-awesome";

body{
	margin-top : 70px;
	background : black;
}
.title{
	padding:10px;
	background :gray;
	border-radius :5px;
	color:white;
}
.main{
	background-image : url('https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg');
}

.fa{
	font-size:50px!important;
}